body{
    font-family: sans-serif;
    color: #222;
}
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #D2D2D2;
    min-height: 400px;
}
.main{
    padding: 0 10px 0 10px;
}
h1{
    text-align: center;
    background-color: #EDB23E;
    font-weight: 100;
    height: 70px;
    line-height: 70px;
}
h2{
    font-weight: 100;
}
#error{
    color: red;
    margin-top: 10px;
}
#change_company,
#change_language,
#change_out_data,
#change_place{
    display: none;
}

#type_data_res,
#pos_data_res{
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    float: right;
    padding-left: 5px;
    background-color: white;
}
p {
    margin: 0px;
    display: inline;
}
#type_data,
#pos_data{
    margin-top: 10px;
    width: 90px;
    height: 20px;
}

#result{
    float: right;
    margin-right: 50px;
}
#result > div{
    float: left;
    margin-right: 20px;
}
.diagram_out_data{
    width: 300px;
    height: 300px;
    outline: 1px solid grey;
    float:right;
    
}
.diagram_out_data > h2{
    text-align: center;
    margin-top: 5px;
}
#diagram{
    height: 180px;
    margin: 0 10px 10px 10px;
}
#diagram_out_data{
    height: 50px;
    width: 175px;
    margin: 0 10px 10px 10px;
    float: right;
}
#legend img{
    width: 80px;
    margin-left: 10px;
    margin-top: 15px;
}
#legend{
    display: none;
}
#tvp list
{
    color: aqua;
    font-weight: 200;
}
.out_data_img{
    float: left;
    outline: 1px solid #ddd;
    width: 19%;
    height: 50px;
    padding: 0;
    margin: 1px;
}
.out_data_img:hover{
    outline: 2px solid #ccc;
    cursor:pointer;
}
.clrb{
    clear: both;
}
#f1{
    background: url('img/f1.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f2{
    background: url('img/f2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f3{
    background: url('img/f3.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f4{
    background: url('img/f4.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f5{
    background: url('img/f5.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f6{
    background: url('img/f6.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f7{
    background: url('img/f7.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f8{
    background: url('img/f8.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f9{
    background: url('img/f8.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f10{
    background: url('img/f2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#f11{
    background: url('img/f8.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#a1{
    background: url('img/a1.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#a2{
    background: url('img/a2.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#a3{
    background: url('img/a3.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#a4{
    background: url('img/a4.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#out_data_rus_format,
#out_data_eng_format,
#out_data_book_format,
#out_data_et_format,
#out_data_et_alfa,
#out_data_rus_alfa,
#out_data_eng_alfa{
    display: none;
}
#broshure,
#ezd,
#books,
#sheet,
#pack,
#pack_sem,
#ek,
#box,
#kln_dom,
#et {
    display: none;
}
.description{
    border: 1px solid #000;
    width: 250px;
    height: 200px;
    float: left;
}
.position{
    border: 1px solid #000;
    width: 610px;
    height: 200px;
    float:left
}
.position_img{
    margin: 10px 0 0 10px;
    float: left;
    outline: 1px solid #ddd;
    width: 20%;
    height: 180px;
    padding: 0;
}
.position_img:hover{
    outline: 3px solid #ccc;
    cursor:pointer;
}
#_1a,#_11a{
    background: url('img/out_data/1a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_1b,#_11b{
    background: url('img/out_data/1b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_1c,#_11c{
    background: url('img/out_data/1c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_1d,#_11d{
    background: url('img/out_data/1d.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_2a,#_12a{
    background: url('img/out_data/2a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_2b,#_12b{
    background: url('img/out_data/2b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_2c,#_12c{
    background: url('img/out_data/2c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_3a,#_13a{
    background: url('img/out_data/3a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_4a{
    background: url('img/out_data/4a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_4b{
    background: url('img/out_data/4b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_4c{
    background: url('img/out_data/4c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_5a{
    background: url('img/out_data/5a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 90px;
}
#_5b{
    background: url('img/out_data/5b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 40%;
    height: 90px;
}
#_6a{
    background: url('img/out_data/6a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_6b{
    background: url('img/out_data/6b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_6c{
    background: url('img/out_data/6c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
}
#_7a{
    background: url('img/out_data/7a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 130px;
}
#_7b{
    background: url('img/out_data/7b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 130px;
}
#_7c{
    background: url('img/out_data/7c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 130px;
}
#_8a{
    background: url('img/out_data/8a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 180px;
}
#_8b{
    background: url('img/out_data/8b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 26%;
    height: 180px;
}
#_8c{
    background: url('img/out_data/8c.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 27%;
    height: 180px;
}
#_9a{
    background: url('img/out_data/9a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 100px;
}
#_9b{
    background: url('img/out_data/9b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 100px;
}
#_10a{
    background: url('img/out_data/10a.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 130px;
}
#_10b{
    background: url('img/out_data/10b.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 45%;
    height: 130px;
}


p {
    margin-left: 10px;
}





