.container{
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 15px;
    min-height: 400px;
}
h1{
    text-align: center;
}
#change_company,
#change_language,
#change_out_data,
#change_place{
    display: none;
}
.diagram_out_data{
    width: 300px;
    height: 300px;
    outline: 1px solid grey;
    float:right;
    margin-right: 150px;
}
.diagram_out_data > h2{
    text-align: center;
    margin-top: 5px;
}
#tvp list
{
    color: aqua;
    font-weight: 200;
}
.out_data_img{
    float: left;
    outline: 1px solid #000;
    width: 20%;
    height: 70px;
    padding: 0;
}
.out_data_img:hover{
    outline: 2px solid #ddd;
    cursor:pointer;
}
.clrb{
    clear: both;
}
#f1{
    background: url('img/f1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f2{
    background: url('img/f2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f3{
    background: url('img/f3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f4{
    background: url('img/f4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f5{
    background: url('img/f5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f6{
    background: url('img/f6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f7{
    background: url('img/f7.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#f8{
    background: url('img/f8.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#out_data_rus{
    display: none;
}
#out_data_eng{
    display: none;
}
#out_data_book{
    display: none;
}
#out_data_et{
    display: none;
}